.button {
    border: 1px solid #999;
    height: 26px;
    padding: 5px 15px;
    width: 110px;
}

.box {
    background-color: limegreen;
    width: 250px;
}

.box-with-padding {
    background-color: lightblue;
    padding: 0 25px ;
    width: 250px;
}